body {
  font-family: Arial, sans-serif;
  background-color: #ca9191;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px; /* Change width to max-width */
  margin: 20px auto; /* Center the container */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  text-align: center;
}

input[type="text"] {
  width: calc(100% - 20px); /* Adjust width to fit padding */
  height: 70px;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 24px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding in width calculation */
}

.btn, .btns, .btnc, .eql {
  width: 70px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover, .btns:hover, .btnc:hover, .eql:hover {
  background-color: #ccc;
}

.eql {
  background-color: #28a745;
  color: #fff;
}

.eql:hover {
  background-color: #218838;
}
